@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-weight: 100;
   src: url('file:///C:/Users/Emanuel%20Suriano/Git/Blindle.github.io/fonts/Roboto Slab/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-weight: 300;
   src: url('file:///C:/Users/Emanuel%20Suriano/Git/Blindle.github.io/fonts/Roboto Slab/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: normal;
   font-weight: 700;
   src: url('file:///C:/Users/Emanuel%20Suriano/Git/Blindle.github.io/fonts/Roboto Slab/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto Slab';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Emanuel%20Suriano/Git/Blindle.github.io/fonts/Roboto Slab/regular.ttf') format('truetype');
}
